<!DOCTYPE HTML>
<html>
<head>
<style>

body {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;  
    font-weight: 400;
    }

</style>
</head>
<body>
{% block topnav %}
{% endblock topnav %}
{% block content %}
{% endblock content %}
{% block botnav %}
{% endblock botnav %}
</body>
<footer>
<table style="width: 40%">
<tr>
<td><center>&copy;Austin Sirkin. Last modified on {{ lastMod }}.

</center></td>
</tr>
</table>
</footer>
</html>