{% extends 'main.twig' %}

{% block content %}
<table style="width: 40%; border-collapse: collapse">
<tr>
<td>
<center><a href="{{ urlFor('index') }}"><img src="images/sword.jpg"></a></center>
</td>
</tr>
</table>
{% endblock content %}